<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.kehl.dao.UserTblDao">

    <resultMap type="org.kehl.entity.UserTbl" id="UserTblMap">
        <result property="id" column="id" jdbcType="INTEGER"/>
        <result property="userId" column="user_id" jdbcType="VARCHAR"/>
        <result property="username" column="username" jdbcType="VARCHAR"/>
        <result property="password" column="password" jdbcType="VARCHAR"/>
    </resultMap>

    <!--查询单个-->
    <select id="queryById" resultMap="UserTblMap">
        select id,
               user_id,
               username,
               password
        from seata_user.user_tbl
        where id = #{id}
    </select>

    <!--查询指定行数据-->
    <select id="queryAllByLimit" resultMap="UserTblMap">
        select id,
               user_id,
               username,
               password
        from seata_user.user_tbl limit #{offset}, #{limit}
    </select>

    <!--通过实体作为筛选条件查询-->
    <select id="queryAll" resultMap="UserTblMap">
        select
        id, user_id, username, password
        from seata_user.user_tbl
        <where>
            <if test="id != null">
                and id = #{id}
            </if>
            <if test="userId != null and userId != ''">
                and user_id = #{userId}
            </if>
            <if test="username != null and username != ''">
                and username = #{username}
            </if>
            <if test="password != null and password != ''">
                and password = #{password}
            </if>
        </where>
    </select>

    <!--新增所有列-->
    <insert id="insert" keyProperty="id" useGeneratedKeys="true">
        insert into seata_user.user_tbl(user_id, username, password)
        values (#{userId}, #{username}, #{password})
    </insert>

    <insert id="insertBatch" keyProperty="id" useGeneratedKeys="true">
        insert into seata_user.user_tbl(user_id, username, password)
        values
        <foreach collection="entities" item="entity" separator=",">
            (#{entity.userId}, #{entity.username}, #{entity.password})
        </foreach>
    </insert>

    <insert id="insertOrUpdateBatch" keyProperty="id" useGeneratedKeys="true">
        insert into seata_user.user_tbl(user_id, username, password)
        values
        <foreach collection="entities" item="entity" separator=",">
            (#{entity.userId}, #{entity.username}, #{entity.password})
        </foreach>
        on duplicate key update
        user_id = values(user_id) , username = values(username) , password = values(password)
    </insert>

    <!--通过主键修改数据-->
    <update id="update">
        update seata_user.user_tbl
        <set>
            <if test="userId != null and userId != ''">
                user_id = #{userId},
            </if>
            <if test="username != null and username != ''">
                username = #{username},
            </if>
            <if test="password != null and password != ''">
                password = #{password},
            </if>
        </set>
        where id = #{id}
    </update>

    <!--通过主键删除-->
    <delete id="deleteById">
        delete
        from seata_user.user_tbl
        where id = #{id}
    </delete>

</mapper>

